@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

body {
  margin: 0;
  padding: 0;
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% ); */
  min-height: 100vh;
  /* background: red; */
  background-color: rgb(17 24 39);
}

:root {
  --cell-size: 12vmax;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.gameContainer {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: green; */
  padding: 0 2rem 2rem 2rem;
}

.title {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Gemunu Libre', sans-serif;
  margin-top: 1rem;
  color: white;

}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  position: relative;
  /* background-color: yellow; */
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
border: 1px solid rgba(255, 255, 255, 0.11);
}

.line {
  background-color: white;
  height: 8px;
  position: absolute;
  border-radius: 3rem;
}

.line.animate {
  animation: line-animate 0.5s forwards ease-in-out;
}

@keyframes line-animate {
  from {
    width: 0;
  }
  to {
    width: 99%;
  }
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-color: white;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
  background-color: black;
}

.cell.x.animate::before,
.cell.x.animate::after {
  animation: mark-animate 0.3s forwards ease-in-out;
}

.cell.o.animate::before,
.cell.o.animate::after {
  animation: mark-animate 0.2s forwards ease-in-out;
}

@keyframes mark-animate {
  from{
    opacity: 0;
  }to{
    opacity: 100;
  }
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after,
.board.x .cell:not(.x):not(.o):hover::before {
  position: absolute;
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(45deg);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(-45deg);
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  background-color: lightgrey;
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
  /* background-color: black; */
  background-color: transparent;
  border: 25px solid lightgrey;
}

.cell.o::before{
  border-color: #000;
}

/* .board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgrey;
} */
/* .cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
  background: rgba(255, 255, 255, 0.15);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
border: 1px solid rgba(255, 255, 255, 0.11);
} */

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  gap: 1rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 0.2em;
}

.winning-message button:hover {
  filter: invert(1);
}

.winning-message.show {
  display: flex;
}

.choice-message{
  display: none;
  /* display: flex; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.choice-message.show{
    display: flex;
}

.choiceButton{
  font-size: 3rem;
  padding: 1rem 4rem;
  border-radius: 0.2em;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.choiceButton:hover{
  filter: invert(1);
}

.options {
  display: flex;
  justify-content: end;
  padding: 1rem 1rem 0 1rem;
  gap: 1rem;
}
.options .btn {
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border:none;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0  , 0.8);
  color: rgb(255, 255, 255);
  transition: filter 0.2s ease-in-out;
}

.options .btn:hover{
  filter: invert(1);
}

@media (max-width: 768px) {
  .options{
    justify-content: center;
  }

  .cell.o::before,
  .board.o .cell:not(.x):not(.o):hover::before {
    border: 15px solid lightgrey;
  }

  .cell.o::before{
    border-color: #000;
  }

  .choice-message{
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
  }

  .choiceButton{
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 0.2em;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
  }
  
}